<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.byteblogs.helloblog.config.dao.ConfigDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.byteblogs.helloblog.config.domain.po.Config">
        <id column="id" property="id"/>
        <result column="type" property="type"/>
        <result column="config_key" property="configKey"/>
        <result column="config_value" property="configValue"/>
    </resultMap>

</mapper>
